/* .heading{
    font-family: "Marck Script"
} */

*{
    margin:0px;
    box-sizing: border-box;
}

.para{
    font-family: 'Roboto';
    font-size: 22px;
    color:white;
    margin-bottom: 0px;
    
}

.para-in-image{
    font-family: 'Roboto';
    color:white;
    font-size: 12px;
}

.nav-div{
    margin-right:20px;
   
}